body{
    font-size: 12px ; 
    background-color: #9b111e;
}

.ui-widget {
    font-size: 12px !important; 
}

.ui-inputfield .ui-selectonemenu .ui-selectonemenu-label{
     font-size: 12px !important; 
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    background-color: white;
}

.header h1 {
    width: 80%;
    font-size: 20px;
    font-weight: bold;
}

.login-button{
    float: left;
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    height: 95%;
    padding: 30px 40px 30px 40px;
    background-color: white;
        
}

.event-title {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

.event-panel {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.event-name {
    font-size: 24px;
    color: #333;
}

.event-description {
    font-size: 16px;
    color: #666;
}

.event-time {
    font-size: 16px;
    color: #666;
}

.event-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a .ui-icon {
    color: #9b111e !important;
    border-color: red !important;
}
.ui-tabmenuitem.ui-state-active a {
    color: #9b111e !important;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    border-color:#9b111e !important;
}
